
.header{
height: 10%;
 background: linear-gradient(#8181F7, #08088A);
}
.headerText{
text-align: center;
color: #FFBF00;
}
.problemTypePanel{
height:90%;
border-right: 3px solid;
}
.subCategory{ 
background-color:white;
height:10%;
text-align:center;
margin-left: 10px;
box-shadow: 10px 0 5px -2px #888;
border-bottom: 5px solid;
line-height: 50px;
}
.categories{
height:10%;
border-bottom: 5px solid;
}
.rmp{
padding:0px;
}
.mainbody{
height:90%;
}
.submitAndCheck{
height:15%;
border-top: 3px solid;
}
.answerDisplay{
float:right;
}
.numberDisplay{
height:85%;
padding-top:10%;
}

.problemDisplay{
font-size:120px;
text-align:center;
background-color:#01DFD7;
border-radius: 60px;
}

.subCategories {
    display: none;
 }

.categories:hover + .subCategories, .subCategories:hover {
    display: block;
}
.strategy{
font-size: 30px;
}
.help{
float: bottom;
}
.helpButton{
width:100%;
height:60%
}
.newProb{
float:right;
width:50%;
height:40%
}
.submit{
width:50%;
height:40%
}
.helpDisplay{
height:85%
}
.helpHeader{
background-color:#FFBF00;
height:10%;
}
.exitPicture{
float: right;
background-color:#F2F2F2;
width:5%;
text-align:center;
}
.exitPicture:hover{
background-color:#A4A4A4;
}
pre{
background-color:white;
border:0;
padding:0;
}
.strategyDisplay{
height:90%;
}