/* make this pretty, add animation */
.header{
height: 10%;
 background: linear-gradient(#8181F7, #08088A);
}
.headerText{
text-align: center;
color: #FFBF00;
}
.selectionPanel{
height:90%;
background-color:#A4A4A4;
}
.subCategory{
background-color:orange; 
height:10%;
text-align:center;
box-shadow:inset 0px 0px 0px 10px #B45F04;
line-height: 50px;
}
.categories{
height:10%;
box-shadow:inset 0px 0px 0px 3px #08088A;
}
.rmp{
padding:0px;
}
.mainbody{
height:90%;
/*background-color:yellow; */
}
.help{
background-color:#0000FF;
height:100%;
float:right;
}
.numberDisplay{
/*background-color:#8A0829; */
height:85%;
padding-top:10%;
}
.utilities{
background-color:;
height:15%;
}
.anwserDisplay{
float:right;
}
.problem{
font-size:120px;
text-align:center;
}

.subCategories {
    display: none;
    
 }

.categories:hover + .subCategories, .subCategories:hover {
    display: block;
}
.strategy{
font-size: 30px;
}
