<div>
    &nbsp&nbsp&nbsp If the two tens place numbers add to be odd then the number ends in 75, if they add to be even, the number ends in 25.
    After the tens ones and tens place are found, add one to the larger tens place, then multiple the two tens place together.
    If the two tens place are 1 apart you are done, if they are 2-3 apart add one and put in the hundreds place, 4-5 apart add two, 6-7 add three.
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qrhQx5Erg_A" frameborder="0" allowfullscreen></iframe>
</div>
